// Media queries breakpoints
// Extra small screen / phone
$screen-xs: 480px;
$screen-xs-min: $screen-xs;

// Small screen / tablet
$screen-sm: 576px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 992px;
$screen-lg-min: $screen-lg;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// Extra extra large screen / large descktop
$screen-xxl: 1600px;
$screen-xxl-min: $screen-xxl;

// provide a maximum
$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
$screen-lg-max: ($screen-xl-min - 1px);
$screen-xl-max: ($screen-xxl-min - 1px);

// Grid system
$grid-columns: 24;
$grid-gutter-width: 0;



$primary-color: red;
$border-color-split : red;
$component-background : #fff;
$text-color : #b1b1b1;
$item-active-bg : #66c75f;
$text-color-secondary : #ad002a;
$text-color-secondary-dark : #33a7ad;

// Layout
$layout-body-background: #f0f2f5;
$layout-header-background: #001529;
$layout-footer-background: $layout-body-background;
$layout-header-height: 64px;
$layout-header-padding: 0 50px;
$layout-footer-padding: 24px 50px;
$layout-sider-background: $layout-header-background;
$layout-trigger-height: 48px;
$layout-trigger-background: #002140;
$layout-trigger-color: #fff;
$layout-zero-trigger-width: 36px;
$layout-zero-trigger-height: 42px;
// Layout light theme
$layout-sider-background-light: #fff;
$layout-trigger-background-light: #fff;
//$layout-trigger-color-light : $text-color;


// Animation
$ease-base-out : cubic-bezier(0.7, 0.3, 0.1, 1);
$ease-base-in : cubic-bezier(0.9, 0, 0.3, 0.7);
$ease-out : cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in : cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-in-out : cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-out-back : cubic-bezier(0.12, 0.4, 0.29, 1.46);
$ease-in-back : cubic-bezier(0.71, -0.46, 0.88, 0.6);
$ease-in-out-back : cubic-bezier(0.71, -0.46, 0.29, 1.46);
$ease-out-circ : cubic-bezier(0.08, 0.82, 0.17, 1);
$ease-in-circ : cubic-bezier(0.6, 0.04, 0.98, 0.34);
$ease-in-out-circ : cubic-bezier(0.78, 0.14, 0.15, 0.86);
$ease-out-quint : cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-quint : cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-in-out-quint : cubic-bezier(0.86, 0, 0.07, 1);

// Menu
// ---
$menu-inline-toplevel-item-height: 40px;
$menu-item-height: 40px;
$menu-collapsed-width: 80px;
$menu-bg: $component-background;
$menu-popup-bg: $component-background;
$menu-item-color: $text-color;
$menu-highlight-color: $primary-color;
$menu-item-active-bg: $item-active-bg;
$menu-item-active-border-width: 3px;
$menu-item-group-title-color: $text-color-secondary;
// dark theme
$menu-dark-color: $text-color-secondary-dark;
$menu-dark-bg: $layout-header-background;
$menu-dark-arrow-color: #fff;
$menu-dark-submenu-bg: #000c17;
$menu-dark-highlight-color: #fff;
$menu-dark-item-active-bg: $primary-color;


